In [1]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [13]:
# Creating Dataframe
df = pd.DataFrame(data = np.arange(0,20).reshape(5,4),index=["Row1", "Row2", "Row3", "Row4","Row5"], columns= ["Column1", "Column2", "Column3", "Column4"])

In [15]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [17]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int32
 1   Column2  5 non-null      int32
 2   Column3  5 non-null      int32
 3   Column4  5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes

In [21]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [23]:
#Indexing
df[['Column1','Column2','Column3']]

      Column1  Column2  Column3
Row1        0        1        2
Row2        4        5        6
Row3        8        9       10
Row4       12       13       14
Row5       16       17       18

In [25]:
 df.loc[['Row3' ,'Row4']]

      Column1  Column2  Column3  Column4
Row3        8        9       10       11
Row4       12       13       14       15

In [45]:
df.iloc[:,[0,3]]

      Column1  Column4
Row1        0        3
Row2        4        7
Row3        8       11
Row4       12       15
Row5       16       19

In [49]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [53]:
df['Column2'].value_counts()

Column2
1     1
5     1
9     1
13    1
17    1
Name: count, dtype: int64

In [55]:
df['Column2'].unique

<bound method Series.unique of Row1     1
Row2     5
Row3     9
Row4    13
Row5    17
Name: Column2, dtype: int32>

In [57]:
type(df)

pandas.core.frame.DataFrame

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int32
 1   Column2  5 non-null      int32
 2   Column3  5 non-null      int32
 3   Column4  5 non-null      int32
dtypes: int32(4)
memory usage: 292.0+ bytes

In [65]:
df["Column1"] = df["Column1"].astype(float)

In [67]:
df.dtypes

Column1    float64
Column2      int32
Column3      int32
Column4      int32
dtype: object

In [71]:
# To get all columns 
#pd.set_option('display.max_column, 85')
#pd.set_option('display.max_text, 85')